<html>
	<head>
	 <script src="angular.min.js"></script>
	 <script src="parser.js"></script>
	 <script src="https://code.angularjs.org/1.2.1/angular-sanitize.min.js"></script>
	 <link href=bootstrap.min.css rel=stylesheet></link>
	</head>
	<body ng-app="appX"  ng-controller="appCtrl">
		<div class="row">
			<div class="col-md-4">
				<textarea cols="70" rows="30" ng-model="sqltext"></textarea>
			</div>
			<div class="col-md-2">
				<button ng-click="parse()">Parsear</button>
				<button ng-if="result" ng-click="copyAll()">Copiar</button>
			</div>
			<pre id="result" class="col-md-4" ng-bind-html="result" />     
		</div>
	</body>
</html>